body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background-color: rgb(247,246,206);
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
}

#page
{
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid rgb(81,160,149);
}
/*
#header
{
	margin: 0;
	padding: 0;
	height: 70px;
	border-top: 3px solid #C9E0ED;/
	background-image: url("../images/banner.png");
	background-repeat: no-repeat;
	background-color: white;
}
*/
#maincontent
{
	background-image: url("../images/title.png");
	background-repeat: no-repeat;
	background-color: rgb(248,253,253);
	/*height: 54px;*/
}

#content
{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#content h1
{
	font-family: 黑体;
	font-size: 25px;
	color: rgb(243,242,196);
	padding-left: 30px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0.7em;
}

#sidebar
{
	padding: 74px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 0px 0px;
	font-family: 华文行楷;
	font-size: 350%;
}

#mainmenu
{
	/*background:white url(bg.gif) repeat-x left top;*/
	background: #1d2925;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color: rgb(243,242,196);
	background-color:transparent;
	font-size:14px;
	/*font-weight:bold;*/
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

#bread
{
	position: absolute;
	width: 910px;
	left: 0px;
}

div.breadcrumbs
{
	font-size: 14px;
	float: right;
	color: #dbf212;
	padding-right: 20px;
	padding-top: 20px;
	/*padding: 5px 20px;*/
}

div.breadcrumbs span
{
	/*font-weight: bold;*/
}

div.breadcrumbs a:link
{
	color: #dbf212;
	text-decoration:none;	
}

div.breadcrumbs a:visited,
div.breadcrumbs a:hover
{
	color: #dbf212;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #bda388; /*#B7D6E7;*/
	border-left: 5px solid rgb(203,200,123); /*#6FACCF;*/
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: rgb(243,242,196); /*#298dcd;*/
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background: rgb(248,253,253);
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: rgb(234,247,206); /*#80CFFF;*/
}

div#content div.compactRadioGroup {
	display: block;
	padding-left: 1em;
}

div#content div.compactRadioGroup div.answers {
	display: block;
}

div#content .compactRadioGroup label.title {
	float: none;
	display: block;
	font-weight: bold;
	width: 400px;
	text-align: left;
	margin-top: 10px;
}

div#content .compactRadioGroup label {
	float: none;
	display: inline;
}

div#content .compactRadioGroup input {
	display: inline;
	font-weight: normal;
}

table#charges {
	border: 3px solid white;
}

table#charges th {
	background: #e3edf0;
	/*
	color: rgb(243,242,196);
	*/
	text-align: center;
	width: 100px;
}

table#charges td {
	text-align: center;
}

table#charges tr.odd {
	background: white;
}

table#charges tr.even {
}

table#charges tr:hover {
	background-color:#EFF4FA;
}

table#charges a {
	text-decoration:none;
	margin-left: 2px;
	margin-right: 2px;
}

/**
 * CSS styles for CLinkPager.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 * @version $Id: pager.css 1678 2010-01-07 21:02:00Z qiang.xue $
 * @since 1.0
 */
ul.yiiPager
{
    font-size:11px;
    border:0;
    margin:0;
    padding:0;
    line-height:100%;
    display:inline;
}

ul.yiiPager li
{
    display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
    border:solid 1px rgb(81,160,149);
    font-weight:bold;
    color:rgb(81,160,149);
    padding:1px 6px;
    text-decoration:none;
}

ul.yiiPager .page a
{
    font-weight:normal;
}

ul.yiiPager a:hover
{
    border:solid 1px #0e509e;
}

ul.yiiPager .selected a
{
    background:rgb(81,160,149);
    color:#FFFFFF;
    font-weight:bold;
}

ul.yiiPager .hidden a
{
    border:solid 1px #DEDEDE;
    color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
    display:none;
}

#pagelink {
	float:right;
}

.confirm * {
	margin: 5px;
	padding: 0px;
}

.confirm .inputSubmit {
	margin-left: 100px;
}

.confirm span {
	color: red;
	font-weight: bold;
}

table#giftcards {
	border: 3px solid white;
	margin:20px 0 0;
}

table#giftcards th {
	background: #e3edf0;
	text-align: center;
	width:333px;
	line-height:32px;
}

table#giftcards td {
	text-align: center;
	line-height:32px;
}

table#giftcards tr.odd {
	background: white;
}

table#giftcards tr.even {
}

table#giftcards tr:hover {
	background-color:#EFF4FA;
}

table#giftcards a {
	text-decoration:none;
	margin-left: 2px;
	margin-right: 2px;
}

.ui-tabs .ui-tabs-nav
{
	margin:0;
	padding:.2em .2em 0;
	height:30px;
}

#tabs {
	border:0;
}

.update
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.update li
{
	padding-bottom: 2px;
	float:left;
}

.update li a
{
	/*font: bold 12px Arial;*/
	font-size:12px;
	color: white;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 40px;
	text-decoration: none;
	width:160px;
	height:40px;
	background-color:#00B0F0;
	text-align:center;
	margin-left:30px;
}

.update li a:visited
{
	/*color: #0066A4;*/
}

.update li a:hover
{
	/*background: rgb(234,247,206); */
}

.ss-tile {
	background: url(../images/titleline.jpg) no-repeat bottom;
	height: 30px;
	line-height: 30px;
	text-indent: 15px;
	color: #de5400;
	font-size: 14px;
	font-weight: bold;
}

.btn-gw {
	width: 100px;
	height:40px;
	margin-top:20px;
	background:url("../images/btn_bg.jpg") no-repeat;
	margin-right: 90px;
	border:none;
	color:#edf4f3;
	cursor: pointer;
	display: block;
	float: right;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
}

.btn-gw:hover {text-decoration: none;color:#edf4f3}




